.todo-container {
  height: auto;
  border: 1px solid black;
  padding: 30px;
}
.add-new {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.data {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
